@import "includes/reset";
@import "includes/colors";
@import "includes/logic";

body {
    background: $gray11;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #fff;
    position: relative;
    min-height: 100vh;


}

h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    max-width: 80%;

    @include respond-to(desktop) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 1.2;
    color: $accent;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.0.5em;
}

p {
    color: $gray5;
    line-height: 1.5;
    margin-bottom: 1em;
    max-width: 600px;
    strong {
        font-weight: 600;
        color: $white;
    }
}
.text-align-center {
    text-align: center;
    display: block;
}
a {
    color: $accent;
    font-weight: 500;
    text-decoration: none;
}
a.button {
    display: block;
    background: $accent;
    color: #fff;
    font-size: 1rem;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    line-height: 1;

    &.button__secondary {
        background: #3A3A3C;
    }

    &.button__disabled {
        background: #2C2C2E;
        border: solid 2px $gray11;
    }

    &.button__back {
        background: #3A3A3C;
        padding: 1rem 2rem;
    }
}



.container {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

body>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    background: $gray11;

    @include respond-to(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem 1.5rem 2rem;
        box-sizing: border-box;
        max-width: 960px;
        margin: 0 auto;
        width: 85%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background: $gray10;
    }

    div.back-button-wrapper {
        display: none;
        margin-right: 2rem;
        
        /*
        top: 1.5rem;
        position: fixed;

        a.button {
            padding:  0;
            background: none !important;
            }
        */

        @include respond-to(desktop) {
            //position: static;
            display: block;
        }


    }


    div.info-wrapper{
        p {
            margin: 0 0.5rem 1.5rem 0.5rem;
            @include respond-to(desktop) {
                max-width: 400px;
                margin: 0 2rem 0 0;
    
            }
            &.text-align-center {
                @include respond-to(desktop) {
                    text-align: left !important;
                }
            }
            &.small {
                font-size: 0.75rem;
                @include respond-to(desktop) {
                    text-align: justify;
                    width: 100%;
                }
            }
        }
    
    }

    div.next-button-wrapper {
        @include respond-to(desktop) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
        }

        a.button {
            @include respond-to(desktop) {
                order: 1;
                white-space: nowrap;
            }

            &:not(:first-of-type) {
                margin-top: 0.75rem;

                @include respond-to(desktop) {
                    margin-right: 0.75rem;
                    margin-top: 0rem;
                }
            }


            &.button__secondary {

                @include respond-to(desktop) {
                    order: 0;
                }

            }
        }
    }
}




input[type="text"],
input[type="tel"],
input[type="number"] {
    background: none;
    border: 2px solid #8E8E93;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $white;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    &::placeholder {
        color: #AEAEB2
    }

    &:active {
        background: none;

    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@include respond-to(desktop) {
    input[type="text"],
input[type="tel"]{
    width: auto;
    min-width: 300px;}
}

img.emoji {
    height: 6rem;
    margin-bottom: 1.5rem;
}

aside.red-bg {
    min-height: 35vh;
    background: $accent;

    @include respond-to(desktop) {
        border-radius: 1rem;
    }

}






body>main {
    box-sizing: border-box;
    min-height: 100vh;

    &.align-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    @include respond-to(desktop) {
        max-width: 960px;
        margin: 0 auto;
        width: 85%;
        padding-top: 2rem;
    }

    section header {
        padding-bottom: 1.25rem;
    }
    section.align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        > * {
            text-align: center;
            max-width: 400px;
        }
    }


        

        @include respond-to(desktop) {
            padding-bottom: 7rem;
        }


            section.select-networks  {
                ul {
                    li {
                        padding: 1rem 0;

                        div.label {
                            position: relative;
                            display: flex;
                            align-items: center;

                            img.icon {
                                height: 1.5rem;
                                width: 1.5rem;
                                object-fit: scale-down;
                                margin-right: 1rem;
                            }

                            span.label {
                                font-weight: 600;
                                line-height: 1;
                                flex: 1;
                                display: block;
                                text-align: left;
                            }

                            button.add,
                            button.check {
                                border-radius: 50%;
                                height: 1.5rem;
                                width: 1.5rem;
                                border: 2px solid #8E8E93;
                                background: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                outline: none;

                            }

                            button.check {
                                border-color: #30D158;
                            }

                        }

                        div.input {
                            margin-top: 1rem;

                            input {
                                @include respond-to(desktop) {
                                    width: 100%;
                                }
                            }
                        }

                        &:not(:first-of-type) {
                            border-top: 2px solid #3A3A3C;
                        }
                    }
                }
            }

        
section.game-code {
    background: $gray10;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
    @include respond-to(desktop) {
        border-radius: 1rem;
    }
    img {
        max-height: 80px;
    }
    span {
        font-size: 32px;
        font-weight: 500;
        padding-left: 24px;
    }
}

}
section.join-via-game-code {
    main a {
        text-align: center;
        @include respond-to(desktop) {
            text-align: left;
        }
    }
    div.game-code-input {
        display: flex;
        margin: 0 -0.25rem;
        padding-bottom: 1.5rem;
        max-width: 400px !important;
    
    input[type="number"] {
        font-size: 32px;
        text-align: center;
        padding: 0.75rem 0.25rem;
        margin: 0 2px ;
        width: 100%;
        min-width: none !important;
        &::placeholder {
            color: $gray5;
            text-align: center;
        }
        }
}

}